<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <img src="../../../assets/honduras.png" alt="" width="40vw">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="padding-left: 10px;">
        <li class="nav-item" style="padding-right: 10px;">
          <a class="btn btn-primary" aria-current="page" routerLink="/bienvenido">Bienvenido</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning" aria-current="page" routerLink="/registro">Registrar Usuario</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>


<table class="table">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Edad</th>
        <th scope="col">Dni</th>
        <th scope="col">Mail</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of arrayUsuarios">
        <th scope="row"><img [src]="user.ImgPerfil_1" width="50px"></th>
        <td>{{user.nombre}}</td>
        <td>{{user.apellido}}</td>
        <td>{{user.edad}}</td>
        <td>{{user.dni}}</td>
        <td>{{user.mail}}</td>
        <td *ngIf="user.perfil == 'especialista' && user.estaAprobado == 1"><button class="btn btn-warning" (click)="deshabilitarEspecialista(user)">Deshabilitar</button></td>
        <td *ngIf="user.perfil == 'especialista' && user.estaAprobado == -1"><button class="btn btn-success" (click)="habilitarEspecialista(user)">Habilitar</button></td>
      </tr>
    </tbody>
  </table>