<nav style="background-color: #e3f2fd;" class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand">
    <img src="../../../assets/honduras.png" alt="" width="40vw" style="margin-left: 5px;">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse justify-content-between collapse" id="navbarSupportedContent">
    <div  class="navbar-nav me-auto mb-2 mb-lg-0">
      <a class="nav-link nav-item" routerLink="/registro">Registrar Usuario</a>
    </div>
    <div class="navbar-nav">
      <button class="nav-link nav-item" routerLink="/bienvenido">Inicio</button>
    </div>
  </div>
</nav>


<table class="table">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Edad</th>
        <th scope="col">Dni</th>
        <th scope="col">Mail</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of arrayUsuarios">
        <th scope="row"><img [src]="user.ImgPerfil_1" width="50px"></th>
        <td>{{user.nombre}}</td>
        <td>{{user.apellido}}</td>
        <td>{{user.edad}}</td>
        <td>{{user.dni}}</td>
        <td>{{user.mail}}</td>
        <td *ngIf="user.perfil == 'especialista' && user.estaAprobado == 1"><button class="btn btn-warning" (click)="deshabilitarEspecialista(user)">Deshabilitar</button></td>
        <td *ngIf="user.perfil == 'especialista' && user.estaAprobado == -1"><button class="btn btn-success" (click)="habilitarEspecialista(user)">Habilitar</button></td>
      </tr>
    </tbody>
  </table>