<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div *ngIf="true" style="position: absolute;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 10px;">
        <li class="nav-item">
          <a class="btn btn-primary" aria-current="page" routerLink="/bienvenido">Bienvenido</a>
        </li>
      </ul>
    </div>
      <div class="container">
        <a class="navbar-brand" style="margin: auto">
          <img src="../../../assets/honduras.png" alt="" width="40vw">
        </a>
      </div>
</nav>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Edad</th>
        <th scope="col">Dni</th>
        <th scope="col">Mail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of arrayUsuarios">
        <th scope="row"><img [src]="user.ImgPerfil_1" width="50px"></th>
        <td>{{user.nombre}}</td>
        <td>{{user.apellido}}</td>
        <td>{{user.edad}}</td>
        <td>{{user.dni}}</td>
        <td>{{user.mail}}</td>
        <td *ngIf="user.perfil == 'paciente'"><button class="btn btn-warning">Deshabilitar</button></td>
      </tr>
    </tbody>
  </table>