<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div *ngIf="true" style="position: absolute;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 10px;">
        <li class="nav-item">
          <a class="btn btn-primary" aria-current="page" routerLink="/bienvenido">Bienvenido</a>
        </li>
      </ul>
    </div>
      <div class="container">
        <a class="navbar-brand" style="margin: auto">
          <img src="../../../assets/honduras.png" alt="" width="40vw">
        </a>
      </div>
</nav>
<div>
  <p>{{this.usuarioActual.perfil}}</p>
  <p>{{this.usuarioActual.id}}</p>
  <p>{{this.usuarioActual.nombre}}</p>
  <p>{{this.usuarioActual.apellido}}</p>
</div>
<!---------------------------------------------ADMIN-------------------------------------------------------------------->

<!----Verificar que el usuario sea admin---->
<div *ngIf="this.usuarioActual.perfil == 'admin'">
  <app-turnos-admin></app-turnos-admin>
</div>

<!---------------------------------------------PACIENTE-------------------------------------------------------------------->

<!----Verificar que el usuario sea paciente---->
<div *ngIf="this.usuarioActual.perfil == 'paciente'">
  <app-turnos-paciente></app-turnos-paciente>
</div>

<!---------------------------------------------ESPECIALISTA-------------------------------------------------------------------->

<!--Verificar que el usuario sea especialista-->
<div *ngIf="this.usuarioActual.perfil == 'especialista'">
  <app-turnos-especialista></app-turnos-especialista>
</div>