<nav style="background-color: #e3f2fd;" class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand">
    <img src="../../../assets/honduras.png" alt="" width="40vw" style="margin-left: 5px;">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse justify-content-between collapse" id="navbarSupportedContent">
    <div  class="navbar-nav me-auto mb-2 mb-lg-0">
    </div>
    <div class="navbar-nav">
      <a class="nav-link nav-item" routerLink="/bienvenido">Inicio</a>
    </div>
  </div>
</nav>
<!---------------------------------------------ADMIN-------------------------------------------------------------------->

<!----Verificar que el usuario sea admin---->
<div *ngIf="this.usuarioActual.perfil == 'admin'">
  <app-turnos-admin></app-turnos-admin>
</div>

<!---------------------------------------------PACIENTE-------------------------------------------------------------------->

<!----Verificar que el usuario sea paciente---->
<div *ngIf="this.usuarioActual.perfil == 'paciente'">
  <app-turnos-paciente></app-turnos-paciente>
</div>

<!---------------------------------------------ESPECIALISTA-------------------------------------------------------------------->

<!--Verificar que el usuario sea especialista-->
<div *ngIf="this.usuarioActual.perfil == 'especialista'">
  <app-turnos-especialista></app-turnos-especialista>
</div>