<div style="max-width: 100%;">
<nav style="background-color: #e3f2fd;" class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand">
        <img src="../../../assets/honduras.png" alt="" width="40vw" style="margin-left: 5px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse justify-content-between collapse" id="navbarSupportedContent">
        <div  class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link nav-item" routerLink="/mis-turnos">Mis Turnos</a>
        <a class="nav-link nav-item" routerLink="/mi-perfil">Mi Perfil</a>
        </div>
        <div class="navbar-nav">
        <a class="nav-link nav-item" routerLink="/bienvenido">Inicio</a>
        </div>
    </div>
</nav>
    <div class="container-lg col-md-12 col-lg-12" style="margin-top: 5%;">
        <div class="row g-1" style="text-align: center;">
            <div  class="col-6 anim-div"> 
                <div class="list-group" style="padding-left: 10px; padding-right: 10px;" *ngFor="let especialista of arrayEspecialistas">
                    <button type="button" class="list-group-item list-group-item-action" (click)="mostrarEsp(especialista)">
                        <img [src]="especialista.ImgPerfil_1" width="100px" height="100px">
                        <br>
                        <h6 style="text-align: center;">{{especialista.nombre}} {{especialista.apellido}}</h6>
                    </button>
                </div>
            </div>
            <div *ngIf="mostrarEspecialidad" class="col-6 anim-div">
                <div class="list-group" style="padding-left: 20%; padding-right: 20%" *ngFor="let especialidad of arrayEspecialidades">
                    <button style="border-radius: 50%;" type="button" class="list-group-item list-group-item-action" (click)="mostrarTurn(especialidad)">
                        <img src="../../../assets/cancelar.png" width="100px" height="100px">
                        <br>
                        <h6 style="text-align: center;">{{especialidad}}</h6>
                    </button>
                </div>
            </div>
            <div *ngIf="mostrarTurno == true" class="col-12 anim-div">
                <button [disabled]="!isFechaSeleccionada(fecha) && !botonesHabilitados" (click)="selectFecha(fecha)" *ngFor="let fecha of fechasDisponibles" style="margin: 5px;" class="btn btn-warning">
                    {{ fecha | fechaSolicitarTurno }}
                </button>
            </div>
            <!-- <div *ngIf="fechaSeleccionada" class="col-12 anim-div" style="background-color: chocolate;">
                <h3 *ngIf="fechaSeleccionada">Horarios disponibles para el {{ fechaSeleccionada | date:'dd/MM/yyyy' }}:</h3>
                <button [disabled]="horarioSeleccionado && horarioSeleccionado.getTime() !== turno.getTime()" style="margin: 5px;" class="btn btn-light" *ngFor="let turno of horariosDisponibles">{{ turno | date:'HH:mm' }}</button>
            </div> -->
            <div *ngIf="horarioSeleccionado != null" class="col-12 anim-div" style="margin-top: 3%;">
                <button (click)="cargarTurnoBD()" class="btn btn-success">Cargar turno</button>
            </div>
        </div>
    </div>
</div>

  
