<form [formGroup]="formAltaPaciente" class="col-md-7 col-lg-8 container" style="padding-top: 3%;" (ngSubmit)="altaPaciente()">
    <div class="row g-3">
        <div class="col-sm-3">
          <label for="firstName" class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="nombre" value="" placeholder="" required>
            <div *ngIf="formAltaPaciente.controls.nombre.errors?.required &&
            formAltaPaciente.controls.nombre.touched">
            El nombre es requerido.
            </div>
        </div>

        <div class="col-sm-3">
          <label for="lastName" class="form-label">Apellido</label>
          <input type="text" class="form-control" formControlName="apellido" placeholder="" value="" required>
            <div *ngIf="formAltaPaciente.controls.apellido.errors?.required &&
            formAltaPaciente.controls.apellido.touched">
            El apellido es requerido.
            </div>
        </div>

        <div class="col-sm-3">
            <label for="lastName" class="form-label">Edad</label>
            <input type="text" class="form-control" formControlName="edad" placeholder="" value="" required>
                <div *ngIf="formAltaPaciente.controls.edad.errors?.required &&
                formAltaPaciente.controls.edad.touched">
                La edad es requerida.
                </div>
        </div>

        <div class="col-sm-3">
            <label for="lastName" class="form-label">DNI</label>
            <input type="text" class="form-control" formControlName="dni" placeholder="" value="" required>
                <div *ngIf="formAltaPaciente.controls.dni.errors?.required &&
                formAltaPaciente.controls.dni.touched">
                El dni es requerido.
                </div>
        </div>

        <div class="col-4">
            <label for="address2" class="form-label">Obra social</label>
            <input type="text" class="form-control" formControlName="obraSocial" id="especialidad">
                <div *ngIf="formAltaPaciente.controls.obraSocial.errors?.required &&
                formAltaPaciente.controls.obraSocial.touched">
                La obra social es requerida.
                </div>
          </div>

        <div class="col-4">
          <label for="email" class="form-label">Correo</label>
          <input type="email" class="form-control" formControlName="mail" value="" placeholder="" required>
            <div *ngIf="formAltaPaciente.controls.mail.errors?.required &&
            formAltaPaciente.controls.mail.touched">
            El correo es requerido.
            </div>
        </div>

        <div class="col-4">
          <label for="address" class="form-label">Contrasenia</label>
          <input type="password" class="form-control" formControlName="pass" value="" placeholder="" required>
            <div *ngIf="formAltaPaciente.controls.pass.errors?.required &&
            formAltaPaciente.controls.pass.touched">
            La contraseña es requerida.
            </div>
        </div>

        <div class="col-md-6">
          <label for="zip" class="form-label">Img Perfil 1</label>
          <input type="file" class="form-control" id="imagen1" placeholder="" value="" required
          (change)="uploadImage($event, 1)">
        </div>

        <div class="col-md-6">
            <label for="zip" class="form-label">Img Perfil 2</label>
            <input type="file" class="form-control" id="imagen2" placeholder="" value="" required
            (change)="uploadImage($event, 2)">
        </div>

        <div class="col-md-2" style="text-align: center;">
            <div class="captcha">{{captcha}}</div>
        </div>
        <div class="col-md-4">
          <input type="text" appTextoMayuscula formControlName="captcha" placeholder="Ingrese el captcha" class="form-control" required> 
          <div *ngIf="formAltaPaciente.controls.captcha.errors?.required &&
          formAltaPaciente.controls.captcha.touched">
          El captcha es requerido.
          </div>
        </div>
      </div>

      <div class="col-md-8" style="padding-top: 4%;">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="formAltaPaciente.disabled">Dar de alta</button>
      </div>
</form>
