.fondo{
    background-image: url('../../../assets/fondo-hospital.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container-login{
    width: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    justify-content: space-around;
}

.loginEsp{
    border: 2px solid black;
    padding: 10%;
    border-radius: 50%;
    margin-right: 3%;
    background-color: rgba(0, 0, 0, 0.7);
}

.loginPac{
    padding: 10%;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 3%;
    background-color: rgba(0, 0, 0, 0.7);
}

.loginAdm{
    /* width: 100%; */
    padding: 10%;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 3%;
    background-color: rgba(0, 0, 0, 0.7);
}

.contenedor-eleccion{
    background-color: rgba(165, 165, 165, 0.7);
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    /* margin: 10%; */
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    /* align-items: center; */
    justify-content: space-around;
}